/*@import './theme/colors';*/

/* *************** General *************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

body {
  background: #FFF;
  color: #555;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
}

/* *************** Strips *************** */
.strip {
  width: '100%';
  min-height: 475px;
  padding: 5%;
}

/* *************** Images *************** */
.background_mountain {
  background-image: url("./images/mountains.jpg") !important;
  background-repeat: 'no-repeat';
 }

/* *************** Fonts *************** */
.title {
  font-size: 400%;
}

h1 {
  color: #000000;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  color: #000000;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: #424242;
  margin: 2px 0px 2px 0px;
  font-weight: 300;
}

.text_center {
  text-align: center;
}

.text_white {
  color: #ffffff !important;
}

/* *************** Links *************** */
a:link {
  text-decoration: none;
}