@import '../../../../theme/colors.css';

footer {
  color: white;
  background-color: var(--blue);
  width: 100%;
  height: 100px;
}

#container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 5px;
}

.subcontainer {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

#logo {
  display: flex;
  align-items: center;
  height: 50%;
  font-size: 1em;
  font-weight: 300;
} #logo a {
  color: white;
}

#navbar {
  display: flex;
  height: 50%;
}

@media (max-width : 980px) {
  #navbar {
    display: none;
  }
}

#links {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
  color: white;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
} .link:hover {
  background-color: rgba(0, 0, 0, .1);
}

#socials {
  display: flex;
  justify-content: center;
  height: 50%;
}

.social {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  font-size: 0.75em;
}
