.placeholder {
  height: 40px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 340px) {
  .statusContainer {
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  .statusContainer {
    margin-top: 10%;
    margin-right: 25%;
    margin-bottom: 10%;
    margin-left: 25%;
  }
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000px) {
  .statusContainer {
    margin-top: 8%;
    margin-right: 30%;
    margin-bottom: 10%;
    margin-left: 30%;
  }
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}