:root {
  --blue-lighten5: #e1f5fe;
  --blue-lighten4: #b3e5fc;
  --blue-lighten3: #81d4fa;
  --blue-lighten2: #4fc3f7;
  --blue-lighten1: #29b6f6;
  --blue: #03a9f4;
  --blue-darken1: #039be5;
  --blue-darken2: #0288d1;
  --blue-darken3: #0277bd;
  --blue-darken4: #01579b;
}
