@import '../../../../theme/colors.css';

/* For the toolbar update */
/*.toolbar_linkgroup_left {
  padding-left: 40px;
}

.toolbar_link_left {
  padding-right: 20px;
  color: white;
}

.toolbar_link_right {
  padding-left: 20px;
  color: white;
}

.title {
  color: white;
}

.drawer_header {
  color: white;
  background-color: var(--blue);
  text-align: center;
  padding-top: 20px;
  Padding-bottom: 20px;
  font-size: 25px;
}*/

header {
  color: #f5f5f5;
  background-color: var(--blue);
  width: 100%;
}

#container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

#navbar {
  display: flex;
}

.menuicon {
  color: white;
  font-size: 28px;
}

@media (max-width : 850px) {
  #navbar {
    display: none;
  }
}

@media (min-width : 850px) {
  #collapsible {
    display: none;
    color: white;
  }
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
} #logo a {
  color: white;
}

#links {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
} .link:hover {
  background-color: rgba(0, 0, 0, .1);
}

#account {
  display: flex;
  flex-direction: row;
}
