/*@import './../../../theme/colors.css';*/

.cardHeader {
  font-size: 200px;
}

.button {
  margin: 12;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
