/*@import './../../../theme/colors.css';*/

.cardHeader {
  font-size: 200px;
}

.button {
  margin: 12;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 340px) {
  .teamContainer {
    margin-top: 0%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
  }
  .card {
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
  }
  .avatar {
    margin-left: 10%;
    margin-right: 10%;
  }
  .name {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  .bio {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  .teamContainer {
    display: inline-block;
    /*margin-top: 0%;*/
    margin-right: 5%;
    /*margin-bottom: 0%;*/
    margin-left: 5%;
  }
  .card {
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
  }
  .name {
    display: inline-flex;
    margin-left: 10%;
    padding-top: 10%;
    /*margin-left: 60%;
    margin-right: 60%;*/
  }
  .avatar {
    display: inline-flex;
    margin-left: 60%;
    margin-right: 60%;
  }
  .bio {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000px) {
  .teamContainer {
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  .card {
    width: auto;
    height: auto;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
  }
  .name {
    display: inline-flex;
    margin-left: 10%;
    padding-top: 10%;
    /*margin-left: 60%;
    margin-right: 60%;*/
  }
  .avatar {
    display: inline-flex;
    margin-left: 60%;
    margin-right: 60%;
  }
  .bio {
    margin-left: 10%;
    margin-right: 10%;
  }
}