

.home{
  text-align: center;
}
.header{
  text-align: left;
}
.mainparagraph{
  position: center;
  text-align: center;
  margin: 0 450px 0 0;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}


